<!-- Pokemon Grid -->
<div class="pokemon-grid">
  <div class="box" *ngFor="let pokemon of pokemons">
    <h3>{{pokemon.name}}</h3>
    <div class="image">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pokemon.id}}.png" alt="{{pokemon.name}}">
    </div>
    <!-- <div class="info">
      <p>
        <b>Type:</b> {{ pokemon.types[0].type.name }}
      </p>
      <p>
        <b>Height:</b> {{ pokemon.height }}
      </p>
      <p>
        <b>Health:</b> {{ pokemon.stats[0].base_stat }}
      </p>
    </div> -->
  </div>
</div>
<!-- End of Pokemon Grid -->