/* Pokemon Grid */
.pokemon-grid {
  display: grid;
  grid-gap: 16px;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(13%, 1fr));
}

.pokemon-grid .image {
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  background-color: rgba(255, 255, 255, 0.774);
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 15px;
}

.pokemon-grid img:hover {
  width: 100%;
  position: relative;
  transform: scale(1.2);
  transition: .1s;
}

.pokemon-grid .image:hover {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px white;
}

.pokemon-grid .box {
  width: 100%;
  height: 300px;
  box-shadow: 0 0 5px black;
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  color: rgba(0, 0, 0, 0.726);
  position: relative;
  transition: .1s;
}

.pokemon-grid .box:hover h3 {
  box-shadow: 0 0 15px white;
  transition: 1s;
  text-shadow: 0 0 15px white;
}

.pokemon-grid .info {
  background-color: rgba(0, 0, 0, 0.164);
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
}

.pokemon-grid h3 {
  margin: 3px;
  padding: 2px;
  width: 92%;
  background-color: rgba(0, 0, 0, 0.393);
  position: relative;
  top: 2%;
  color: rgba(255, 255, 255, 0.788);
  border-radius: 50px;
  border: 2px solid rgba(255, 255, 255, 0.342);
}
